menu "SUB:ProtoBuf-RPC"
    menu "Interface"
        config SUB_PROTOBUF_UART_PORT
            int "Which UARTx will be used"
            default 2
            help
                The interface that used to communicate with sub-navi.

        config SUB_PROTOBUF_UART_BAUDRATE
            int "Set UART baudrate"
            default 115200
            help
                The baudrate of UARTx.

        config SUB_PROTOBUF_UART_QUEUE_SIZE
            int "Set UART queue size"
            default 20
            help
                The queue size of UARTx.

        config SUB_PROTOBUF_UART_CUSTOM_PINS
            bool "Use custom pins"
            default y
            help
                If you want to use custom pins for UARTx, enable this option.

        if SUB_PROTOBUF_UART_CUSTOM_PINS
            config SUB_PROTOBUF_UART_TX_PIN
                int "UARTx TX pin"
                default 37
                help
                    The TX pin of UARTx.

            config SUB_PROTOBUF_UART_RX_PIN
                int "UARTx RX pin"
                default 36
                help
                    The RX pin of UARTx.
        endif
    endmenu

    menu "Thruster"
        config SUB_PROTOBUF_THRUSTER0_PIN
            int "Thruster0 pin"
            default 27
            help
                The pin of thruster channel 0.

        config SUB_PROTOBUF_THRUSTER1_PIN
            int "Thruster1 pin"
            default 26
            help
                The pin of thruster channel 1.

        config SUB_PROTOBUF_THRUSTER2_PIN
            int "Thruster2 pin"
            default 25
            help
                The pin of thruster channel 2.

        config SUB_PROTOBUF_THRUSTER3_PIN
            int "Thruster3 pin"
            default 21
            help
                The pin of thruster channel 3.

        config SUB_PROTOBUF_THRUSTER4_PIN
            int "Thruster4 pin"
            default 22
            help
                The pin of thruster channel 4.

        config SUB_PROTOBUF_THRUSTER5_PIN
            int "Thruster5 pin"
            default 19
            help
                The pin of thruster channel 5.

        config SUB_PROTOBUF_THRUSTER6_PIN
            int "Thruster6 pin"
            default 23
            help
                The pin of thruster channel 6.

        config SUB_PROTOBUF_THRUSTER7_PIN
            int "Thruster7 pin"
            default 18
            help
                The pin of thruster channel 7.
    endmenu

endmenu
