menu "SUB:ProtoBuf-RPC"
    config SUB_PROTOBUF_UART_PORT
        int "Which UARTx will be used"
        default 0
        help
            The interface that used to communicate with sub-navi.

    config SUB_PROTOBUF_UART_BAUDRATE
        int "Set UART baudrate"
        default 115200
        help
            The baudrate of UARTx.

    config SUB_PROTOBUF_UART_QUEUE_SIZE
        int "Set UART queue size"
        default 20
        help
            The queue size of UARTx.

    config SUB_PROTOBUF_UART_CUSTOM_PINS
        bool "Use custom pins"
        default n
        help
            If you want to use custom pins for UARTx, enable this option.

    if SUB_PROTOBUF_UART_CUSTOM_PINS
        config SUB_PROTOBUF_UART_TX_PIN
            int "UARTx TX pin"
            default 17
            help
                The TX pin of UARTx.

        config SUB_PROTOBUF_UART_RX_PIN
            int "UARTx RX pin"
            default 16
            help
                The RX pin of UARTx.
    endif

endmenu
