menu "SUB:Interface"

    menu "Interface I2C"
        menu "I2C0 Config"
            config SUB_ENABLE_I2C0
                bool "Enable interface"
                default n
                depends on SOC_I2C_SUPPORTED

            config SUB_I2C0_SCL_PIN
                int "Set SCL pin num"
                default 6
                depends on SUB_ENABLE_I2C0

            config SUB_I2C0_SDA_PIN
                int "Set SDA pin num"
                default 7
                depends on SUB_ENABLE_I2C0
        endmenu

        menu "I2C1 Config"
            config SUB_ENABLE_I2C1
                bool "Enable interface"
                default n
                depends on SOC_I2C_SUPPORTED

            config SUB_I2C1_SCL_PIN
                int "Set SCL pin num"
                default 8
                depends on SUB_ENABLE_I2C1

            config SUB_I2C1_SDA_PIN
                int "Set SDA pin num"
                default 9
                depends on SUB_ENABLE_I2C1
        endmenu
    endmenu

    menu "Interface SPI"
    endmenu

    menu "Interface UART"
    endmenu

endmenu
