menu "SUB:PCA9685"
    depends on SUB_ENABLE_I2C0 || SUB_ENABLE_I2C1

    config SUB_ENABLE_PCA9685
        bool "Enable PCA9685 peripheral"
        default y
        help
            PCA9685 is a I2C based 16-channel PWM controller.

    if SUB_ENABLE_PCA9685
        config SUB_PCA9685_IIC_PORT
            int "Set PCA9685 IIC port"
            range 0 1
            default 0

        config SUB_PCA9685_IIC_ADDRESS
            hex "Set PCA9685 IIC address"
            range 0 0x7f # 7bit address
            default 0x40

        config SUB_PCA9685_IIC_FREQUENCY
            int "Set PCA9685 IIC freq"
            range 100000 1000000
            default 400000

        config SUB_PCA9685_IIC_TIMEOUT
            int "Set PCA9685 IIC timeout"
            default 50
            help
                Wait timeout, in ms. Note: -1 means wait forever.

        config SUB_PCA9685_OE_GPIO_ENABLE
            bool "Enable PCA9685 OE GPIO"
            default n
            help
                Enable PCA9685 OE GPIO.

        if SUB_PCA9685_OE_GPIO_ENABLE
            config SUB_PCA9685_OE_GPIO_NUM
                int "Set PCA9685 OE GPIO number"
                default 18
        endif

        config SUB_PCA9685_USE_EXTERNAL_CLOCK
            bool "Use external clock"
            default y
            help
                Use external clock. If not, use internal RC clock.

        if SUB_PCA9685_USE_EXTERNAL_CLOCK
            config SUB_PCA9685_EXTERNAL_CLOCK_HZ
                int "Set PCA9685 external clock value in HZ"
                default 50000000
        endif
    endif

endmenu
